//---------------------------------------------------------------------
// <copyright file="error.jade">
//    This code is licensed under the MIT License.
//    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF 
//    ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED 
//    TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
//    PARTICULAR PURPOSE AND NONINFRINGEMENT.
// </copyright>
// <summary>Page used to display errrors</summary>
//---------------------------------------------------------------------

extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
