//---------------------------------------------------------------------
// <copyright file="layout.jade">
//    This code is licensed under the MIT License.
//    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF 
//    ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED 
//    TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
//    PARTICULAR PURPOSE AND NONINFRINGEMENT.
// </copyright>
// <summary>Base layout page</summary>
//---------------------------------------------------------------------

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    block scriptsHead
  body
    block content
    block scriptsBody
