//---------------------------------------------------------------------
// <copyright file="TogglButtonForm.jade">
//    This code is licensed under the MIT License.
//    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF 
//    ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED 
//    TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
//    PARTICULAR PURPOSE AND NONINFRINGEMENT.
// </copyright>
// <summary>Main form for TogglButton Extension</summary>
//---------------------------------------------------------------------

extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/app.css')
	link(rel='stylesheet', href='/bower_components/chosen/chosen.min.css')

block scriptsBody
	script(src='/javascripts/sdk/scripts/VSS.SDK.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='/javascripts/pomoTogglTimer.js')
	script(src='/bower_components/chosen/chosen.jquery.min.js')		

block content
	#startTimer.section		
		button(class='btn' id='btnStart')
			img(src="/images/inactive-16.png") 
			span Start Timer
		
		#error.section
			span.error
	#stopTimer.section
		div(class='stopDiv')
			p Active Timer:
				label#activeActivityTitle
			p Timer:
				label#activeActivityStartTime
			button(class='btn' id='btnStop') 
				img(src="/images/active-16.png") 
				span Stop Timer
			button(class='btn' id='btnDiscard') Discard
			
