//---------------------------------------------------------------------
// <copyright file="TogglButtonForm.jade">
//    This code is licensed under the MIT License.
//    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF 
//    ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED 
//    TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
//    PARTICULAR PURPOSE AND NONINFRINGEMENT.
// </copyright>
// <summary>Main form for TogglButton Extension</summary>
//---------------------------------------------------------------------

extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/app.css')
	link(rel='stylesheet', href='/bower_components/chosen/chosen.min.css')

block scriptsBody
	script(src='/javascripts/sdk/scripts/VSS.SDK.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	script(src='/javascripts/vsotogglbutton.js')
	script(src='/bower_components/chosen/chosen.jquery.min.js')
	script(type='text/javascript').
		VSS.init({
			explicitNotifyLoaded: true,
			usePlatformScripts: true,
			usePlatformStyles: true
		});

		VSS.require([
			"TFS/WorkItemTracking/Services",
			"VSS/Authentication/Services",
			"VSS/Controls",
			"VSS/Controls/StatusIndicator"
		], (_WorkItemServices, AuthenticationService, Controls, StatusIndicator) => {
			// Get the WorkItemFormService.  This service allows you to get/set fields/links on the 'active' work item (the work item
			// that currently is displayed in the UI).
			function getWorkItemFormService() {
				return _WorkItemServices.WorkItemFormService.getService();
			}
			getWorkItemFormService().then((WorkItemFormService)=>{
				var pomoTogglTimerGroup = new PomoTogglTimerGroup(WorkItemFormService, AuthenticationService, Controls, StatusIndicator);
				VSS.register("pomoTogglTimerGroup", pomoTogglTimerGroup);
			});
		});

		VSS.ready(()=>{
			VSS.notifyLoadSucceeded();
		})

block content
	#startTimer.section
		#activityTitle.section
			div(class='labelTitle') 
				p Description
			div
				p(id='txtDescription' class='textBox')
				
		#changeWIState.section
			label
				input(type='checkbox' id='chkChangeState')
				= "Change Work Item to "
				span#nextState nextState
		
		button(class='btn' id='btnStart') 
			img(src="/images/inactive-16.png") Start Timer
		
		#error.section
			span.error
	#stopTimer.section
		div(class='stopDiv')
			p Active Timer:
				label#activeActivityTitle
			p Timer:
				label#activeActivityStartTime
			button(class='btn' id='btnStop') 
				img(src="/images/active-16.png") Stop Timer
			button(class='btn' id='btnDiscard') Discard
			
