//---------------------------------------------------------------------
// <copyright file="togglButton.jade">
//    This code is licensed under the MIT License.
//    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF 
//    ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED 
//    TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 
//    PARTICULAR PURPOSE AND NONINFRINGEMENT.
// </copyright>
// <summary>Test page for togglButton Extension (this page is not visualized by users)</summary>
//---------------------------------------------------------------------

extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/style.css')
block scriptsHead
  script(src='/javascripts/sdk/scripts/VSS.SDK.js')
  script(src='/javascripts/vsotogglbutton.js')
  
block content
  h1 #{title} olá
  p Welcome to #{title}
