body {
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
}

.section{
    margin-top: 10px;
}

.labelTitle {
    color: #B7B7B7;
}

.dropdownList {
    width: 100%;
}

.chosen-select {
    width: 100%;
}

.textBox {
    width: 100%;
}

.buttonDiv {
    margin-top: 5px;
    width: 100%;
}

optgroup {
    padding-left: 10px;
    font-weight: bold;
}

option {
    margin-left: 20px;
}

.error {
    color: red;
}
